.padding-ville{
    padding: 5%;padding-top: 2%;
}
.padding-cinema{
    padding-left: 0%;
    padding-right: 5%;
    padding-top: 2%;
}
.red-titel{
   color: #dc3545!important
}
.active-iteam {
    color: #818182;
    background-color: #e9ecef;
}
.padding-salle{
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 2%;
}
.clickable{
    cursor: pointer;
  }
  .ticket{
    width: 40px;
    margin: 5px;
    padding: 2%;
  }
  
